.count_div{
    border: 5px black solid;
    border-radius: 3px;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 10%;
}

.intercount_div{
    margin-top: 5%;
    margin-bottom: 5%;
}

header{
    background-color: orange;
}

footer{
    background-color: orange;
    margin-top: 22.5%;
}